{% extends 'base.html.twig' %}

{% block title 'Create new pin ' %}

{% block body %}

    <h1>Create Pin</h1>
    {{form_start(myForm)}}
    {{ form_widget(myForm)}}
    <input type="submit" value=" Create " >
    {{form_end(myForm)}}
        
{% endblock %}