{% extends 'layouts/base.html.twig' %}

{% block title 'Create new pin ' %}

{% block body %}

    <h1 class="text-4xl mb-4 dark:text-white text-center">Create Pin</h1>
    {{ include('/layouts/partials/_form.html.twig', {submitBtn : 'Create'})}}
{% endblock %}