{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin' ~ pin.id %}

{% block body %}

    <h1 class="text-4xl mb-4 dark:text-white text-center">Edit pin {{ pin.id }}</h1>
    {{ include('/layouts/partials/_form.html.twig')}}

{% endblock %}