{% extends 'base.html.twig' %}

{% block title 'Pinterest Clone' %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

<div class="example-wrapper">
    {% if (pins|length == 1) %}
        <h1>1 Pin ✅</h1>
    {% elseif (pins|length == 0) %}
        <h1>No pins! ✅</h1>  
    {% else %}
        <h1>{{pins|length}} pins! ✅</h1> 
    {% endif %}

    {% for pin in pins %}
    <article>
        <h2>{{ pin.title }}</h2>
        <h2>{{ pin.description }}</h2>
    </article>
    {% endfor %}
</div>
{% endblock %}
