{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}

    <article>
        <h1>{{ pin.title }}</h1>
        <p> {{ pin.description }}</p>
    </article>
    <footer><a href="{{ path('app_home') }}">Go Home</a></footer>

{% endblock %}