{% extends 'base.html.twig' %}

{% block title 'hello' %}

{% block body %}

    <article>
        <h1>{{ pin.title }}</h1>
        <p> {{ pin.description }}</p>
    </article>
    <footer><a href="{{ path('app_home') }}">Go HOme</a></footer>

{% endblock %}