{% extends 'layouts/base.html.twig' %}

{% block title 'Verification!' %}


{% block body %}

<h1 class="h3 mb-3 font-weight-normal text-center">Please verify your email !</h1>
<p class="mt-4 text-center text-muted"> An email was sent to your mail box. Check it out so that your mail can be verified</p>

{% endblock %}