{% extends "base.html.twig" %}
{# {% block title 'Hello City | ' ~ parent() %} #}
{% block title %}
	Hello City |
	{{parent()}}
{% endblock %}
{% block body %}
	<h1>Built with <span class="text-blue-200">by Leila ELHADIOUIA</span></h1>
	
	<p>
		<a href="{{ path('app_home')}}">Go Home</a>
	</p>
{% endblock %}
