{% extends "base.html.twig" %}
{# {% block title 'Hello City | ' ~ parent() %} #}
{% block title %}
	Hello City |
	{{parent()}}
{% endblock %}
{% block body %}
	<h1>Built by <span class="text-blue-500">by Leila ELHADIOUIA</span></h1>
	<img src="{{ asset('/img/yeah.jpg')}}" alt="" width=500>
	<p>
		<a href="{{ path('app_home')}}">Go Home</a>
	</p>
{% endblock %}
