{% extends "base.html.twig" %}
{# {% block title 'Hello City | ' ~ parent() %} #}
{% block title %}
	Hello City |
	{{parent()}}
{% endblock %}
{% block body %}
	<h1>Built with <span class="">by Leila ELHADIOUIA</span></h1>
	<select name="qst1" id="">
		<input type="radio" name="qst1" value="1">
		<input type="radio" name="qst1" value="2">
		<input type="radio" name="qst1" value="3">
	</select>
	<p>
		<a href="{{ path('app_home')}}">Go Home</a>
	</p>
{% endblock %}
