{% extends "base.html.twig" %}
{# {% block title 'Hello City | ' ~ parent() %} #}
{% block title %}
	Hello City |
	{{parent()}}
{% endblock %}
{% block body %}
	<h1>Hello let's try out the select radion buttons</h1>
	<select name="qst1" id="">
		<input type="radio" name="qst1" value="1">
		<input type="radio" name="qst1" value="2">
		<input type="radio" name="qst1" value="3">
	</select>
{% endblock %}
