{% extends "base.html.twig" %}
{% block title%}
	Hello Home!
{% endblock %}
{% block body %}
	<h1>Hello let's try some stuff</h1>
	<img src="{{ asset('/img/hi.jpg')}}" alt="" width=500>
	<p>It's currently {{'now'|date('h:i A')}}.</p>
{% endblock %}
