<footer class="container text-center my-48">
    <p class="text-gray-400">
        &copy; Copyright
        {{'now'|date('Y')}}
        &middot;
        <a class="text-indigo-500 hover:text-indigo-600 underline" href="{{ path('app_home') }}">City Home</a>
    </p>
</footer>