<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title 'Welcome!' %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` #}
		{#and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<main role="main"> {% block body %}{% endblock %}
			</main>
			<footer>
				<p>
					&copy; Copyright
					{{'now'|date('Y')}}
					&middot;<a href="{{path('app_about')}}"></a>
				</p>
			</footer>
			{% block javascripts %}
				{#{{ encore_entry_script_tags('app') }}#}
			{% endblock %}
		</body>
	</html>
